{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="">

  <title> Dineease </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />

  <style>
    /* Style for the submenus */
  .submenu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    width: 200px;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
  }
  
  .submenu-item {
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #333;
    font-size: 14px;
  }
  
  /* Show the submenu on hover */
  .has-submenu:hover .submenu {
    display: block;
  }
  
  /* Style for submenu item hover */
  .submenu-item:hover {
    background-color: #f0f0f0;
    color: #000;
  }
  
  /* Style for the active menu item */
  .active {
    font-weight: bold;
  }
  .centered-div {
    width: 100%; 
    margin: 0 20% 0 0;
    /* Other styling for your div */
    background-color: wheat;
    padding: 30px;
    border: 1px solid #ccc;
    text-align: center;
    color: #333;
    margin-top: -30px;
  }
  
  /* Style for the submenus */
  .submenu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px; /* Adjust the width as needed */
    text-align: left;
    z-index: 1; /* Ensure the sub-submenu displays above the main content */
  }
  
  .submenu-item {
    padding: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative; /* Add this to create a relative positioning context for sub-submenu */
  }
  
  /* Show the submenu on hover */
  .has-submenu:hover .submenu {
    display: block;
  }
  
  /* Show the sub-submenu on hover */
  .submenu-item:hover .sub-submenu {
    display: block;
  }
  
  .sub-submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%; /* Position it to the right of the parent submenu item */
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px; /* Adjust the width as needed */
    text-align: left;
  }
  
  .sub-submenu-item {
    padding: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size:14px;
  }
  
  /* Show the sub-submenu on hover */
  .submenu-item:hover .sub-submenu {
    display: block;
  }
  
  /* Highlight submenu and sub-submenu items on hover */
  .submenu-item:hover,
  .sub-submenu-item:hover {
    background-color: #f0f0f0;
  }
  .button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Adjust the spacing between buttons if needed */
  .add-to-cart-button {
    margin-right: 5px;
  }
  
  .add-to-table-button {
    margin-left: 5px;
  }
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
.out-of-stock-message-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.out-of-stock-message {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 5px;
  color: red;
  font-weight: bold;
}

.nav-container {
  display: flex; /* Use flexbox to align nav elements horizontally */
  justify-content: space-between; /* Ensure equal space between nav elements */
}

.nav-item.dropdown .dropdown-menu {
display: none;
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
min-width: 160px;
padding: 8px 0;
margin: 2px 0 0;
font-size: 14px;
text-align: left;
background-color: #fff;
border: 1px solid rgba(0,0,0,.15);
border-radius: .25rem;
box-shadow: 0 0.5rem 1rem rgba(0,0,0,.175);
}

.nav-item.dropdown:hover .dropdown-menu {
display: block;
}
  </style>
  

</head>

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img src="{% static 'images/hero-bg.jpg' %}" alt=""> 
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{% url '' %}">
            <span>
              DineEase
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto ">
              <li class="nav-item">
                <a class="nav-link" href="{% url '' %}">Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'menu' %}">Menu <span class="sr-only">(current)</span> </a>
              </li>
              {% comment %} <li class="nav-item">
                <a class="nav-link" href="{% url 'upload_image' %}">Image Search</a>
              </li>  {% endcomment %}
              <div class="nav-container">
                <nav>
                    <ul class="nav">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown1">Pre-Booking</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <a class="dropdown-item" href="{% url 'add_reservation' %}">Table Booking</a>
                                <a class="dropdown-item" href="{% url 'catering_booking' %}">Catering Booking</a>
                                <!-- Add more options as needed -->
                            </div>
                        </li>
                    </ul>
                </nav>
                
                <nav>
                    <ul class="nav">
                        <li class="nav-item dropdown ">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown2">History</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item" href="{% url 'booking_list' %}">Bookings</a>
                                <a class="dropdown-item" href="{% url 'orders_lists' %}">Orders</a>
                                <a class="dropdown-item" href="{% url 'catering_booking_details' %}">Catering Bookings</a>
                                <!-- Add more options as needed -->
                            </div>
                        </li>
                    </ul>
                </nav>
            </div> 
              <li class="nav-item">
                {% if user.is_authenticated %}
                  <a class="nav-link" href="{% url 'loggout' %}">Logout</a>
                {% else %}
                  <a class="nav-link" href="{% url 'login' %}">Login</a>
                {% endif %}
              </li>
            </ul>
            <div class="user_option">
              {% comment %} <a href="" class="user_link">
                <i class="fa fa-user" aria-hidden="true"></i>
              </a> {% endcomment %}
              <a class="cart_link" href="#">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                  <g>
                    <g>
                      <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                   c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                   C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                   c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                   C457.728,97.71,450.56,86.958,439.296,84.91z" />
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                   c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                    </g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                </svg>
              </a>
              {% comment %} <form class="form-inline">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </form>
              <a href="" class="order_online">
                Order Online
              </a> {% endcomment %}
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- food section -->

  <section class="food_section layout_padding">
    <div class="container">
      <div class="centered-div">
      <div class="heading_container heading_center">
        <h2>
          Our Menu
        </h2>
      </div>
      <ul class="filters_menu" style="margin-top: 20px; background-color:wheat ">
        <li class="" data-filter="*"><a href="{% url 'menu' %}" style="color:#393b3a;" >All</a></li>

        <li class="has-submenu">Kerala
          <div class="submenu">
            <div class="submenu-item">Breads
              <div class="sub-submenu">
                <div class="sub-submenu-item">
                  <a href="{% url 'filtered_menus' 'kerala' 'Breads' 'Vegetarian' %}" style="color: black;">Veg</a>
              </div>
              
                <div class="sub-submenu-item">
                  <a href="{% url 'filtered_menus' 'kerala' 'Breads' 'Non-Vegetarian' %}" style="color: black;">Non-Veg</a>
              </div>
                
              </div>
            </div>
            <div class="submenu-item">Curries
              <div class="sub-submenu">
                <div class="sub-submenu-item">
                  <a href="{% url 'filtered_menus' 'kerala' 'Curries' 'Vegetarian' %}" style="color: black;">Veg</a>
                </div>
                <div class="sub-submenu-item">
                  <a href="{% url 'filtered_menus' 'kerala' 'Curries' 'Non-Vegetarian' %}" style="color: black;">Non-Veg</a>
                </div>
              </div>
            </div>
            <div class="submenu-item">Rice Dishes
              <div class="sub-submenu">
                <div class="sub-submenu-item">
                  <a href="{% url 'filtered_menus' 'kerala' 'Rice Dishes' 'Vegetarian' %}" style="color: black;">Veg</a>
                </div>
                <div class="sub-submenu-item">
                  <a href="{% url 'filtered_menus' 'kerala' 'Rice Dishes' 'Non-Vegetarian' %}" style="color: black;">Non-Veg</a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="has-submenu">Chinese
          <div class="submenu">
            <div class="submenu-item">Appetizers
              <div class="sub-submenu">
                <div class="sub-submenu-item">
                  <a href="{% url 'filtered_menus' 'chineese' 'Appetizers' 'Vegetarian' %}" style="color: black;">Veg</a>
                </div>
                <div class="sub-submenu-item">
                  <a href="{% url 'filtered_menus' 'chineese' 'Appetizers' 'Non-Vegetarian' %}" style="color: black;">Non-Veg</a>
                </div>
              </div>
            </div>
            <div class="submenu-item">Main Courses
              <div class="sub-submenu">
                <div class="sub-submenu-item">
                  <a href="{% url 'filtered_menus' 'chineese' 'Main Course' 'Vegetarian' %}" style="color: black;">Veg</a>
                </div>
                <div class="sub-submenu-item">
                  <a href="{% url 'filtered_menus' 'chineese' 'Main Course' 'Non-Vegetarian' %}" style="color: black;">Non-Veg</a>
                </div>
              </div>
            </div>  
          </div>
        </li>
        <li class="has-submenu">North Indian
          <div class="submenu">
            <div class="submenu-item">Breads Accompaniments
              <div class="sub-submenu">
                <div class="sub-submenu-item">
                  <a href="{% url 'filtered_menus' 'north indian' 'Breads and Accompaniments' 'Vegetarian' %}" style="color: black;">Veg</a>
                </div>
                <div class="sub-submenu-item">
                  <a href="{% url 'filtered_menus' 'north indian' 'Breads and Accompaniments' 'Non-Vegetarian' %}" style="color: black;">Non-Veg</a>
                </div>
              </div>
            </div>
            <div class="submenu-item">Curries
              <div class="sub-submenu">
                <div class="sub-submenu-item">
                  <a href="{% url 'filtered_menus' 'north indian' 'Curries' 'Vegetarian' %}" style="color: black;">Veg</a>
                </div>
                <div class="sub-submenu-item">
                  <a href="{% url 'filtered_menus' 'north indian' 'Curries' 'Non-Vegetarian' %}" style="color: black;">Non-Veg</a>
                </div>
              </div>
            </div>
            <div class="submenu-item">Rice Dishes
              <div class="sub-submenu">
                <div class="sub-submenu-item">
                  <a href="{% url 'filtered_menus' 'north indian' 'Rice Dishes' 'Vegetarian' %}" style="color: black;">Veg</a>

                </div>
                <div class="sub-submenu-item">
                  <a href="{% url 'filtered_menus' 'north indian' 'Rice Dishes' 'Non-Vegetarian' %}" style="color: black;">Non-Veg</a>

                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="has-submenu">Arabian
          <div class="submenu">
            <div class="submenu-item">Appetizers
              <div class="sub-submenu">
                <div class="sub-submenu-item">
                  <a href="{% url 'filtered_menus' 'Arabian' 'Appetizers' 'Vegetarian' %}" style="color: black;">Veg</a>
                </div>
                <div class="sub-submenu-item">
                  <a href="{% url 'filtered_menus' 'Arabian' 'Appetizers' 'Non-Vegetarian' %}" style="color: black;">Non-Veg</a>
                </div>
              </div>
            </div>
            {% comment %} <div class="submenu-item">Rolls & Grills
              <div class="sub-submenu">
                <div class="sub-submenu-item">
                  <a href="{% url 'filtered_menus' 'Arabian' 'rollsNgrills' 'Vegetarian' %}" style="color: black;">Veg</a>
                </div>
                <div class="sub-submenu-item">
                  <a href="{% url 'filtered_menus' 'Arabian' 'rollsNgrills' 'Non-Vegetarian' %}" style="color: black;">Non-Veg</a>
                </div>
              </div>
            </div> {% endcomment %}
            <div class="submenu-item">Main Course
              <div class="sub-submenu">
                <div class="sub-submenu-item"><a href="{% url 'filtered_menus' 'Arabian' 'Main Course' 'Vegetarian' %}" style="color: black;">Veg</a>
                </div>
                <div class="sub-submenu-item">
                  <div class="sub-submenu-item"><a href="{% url 'filtered_menus' 'Arabian' 'Main Course' 'Non-Vegetarian' %}" style="color: black;">Non-Veg</a>
                </div>
              </div>
            </div>
          </div>
        </li>
        {% comment %} <li class="has-submenu">Deserts</li> {% endcomment %}
        <li class="has-submenu">Beverages
          <div class="submenu">
            <div class="submenu-item">Hot beverages
              <div class="sub-submenu">
                <div class="sub-submenu-item">
                  <a href="{% url 'filtered_menus' 'beverages' 'Hot Beverages' 'Milk-based' %}" style="color: black;">Milk-based</a>
                </div>
                <div class="sub-submenu-item">
                  <a href="{% url 'filtered_menus' 'beverages' 'Hot Beverages' 'Water-based' %}" style="color: black;">Water-based</a>
                </div>
              </div>
            </div>
            <div class="submenu-item">Cold beverages
              <div class="sub-submenu">
                <div class="sub-submenu-item">
                  <a href="{% url 'filtered_menus' 'beverages' 'Cold Beverages' 'Milk-based' %}" style="color: black;">Milk-based</a>
                </div>
                <div class="sub-submenu-item">
                  <a href="{% url 'filtered_menus' 'beverages' 'Cold Beverages' 'Water-based' %}" style="color: black;">Water-based</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul><br>
    </div>

      

      <div class="filters-content">
        <div class="row grid">
       
          {% for Menu in Menus %}
          {% if Menu.active %}
              <div class="col-sm-6 col-lg-4 all pasta">
                  <div class="box" style="height: 440px; {% if Menu.stock.stock_quantity == 0 %}filter: blur(0.5px);{% endif %}">
                      <div>
                        <div class="img-box" >
                          <img src="{{ Menu.img.url }}" alt="" >
                          {% if Menu.stock.stock_quantity == 0 %}
                              <div class="out-of-stock-message-container">
                                  <div class="out-of-stock-message" style="font-size: 20px;">
                                      Out of Stock
                                  </div>
                              </div>
                          {% endif %}
                      </div>
                          {% with stock=Menu.stock.stock_quantity %}
                            {% if stock > 0 and stock <= 5 %}
                            <div role="alert" style="color: #ed0e0e; font-size: 20px; font-weight: bold; display: flex; justify-content: center; align-items: center; height: 100%; animation: blink 1s infinite;">
                                    {{ stock }} more left
                                </div>
                            {% endif %}
                        {% endwith %}
                          <div class="detail-box">
                              <h5>{{ Menu.name }}</h5>
                              <p>{{ Menu.desc }}</p>
                              <div class="options">
                                  <h6>Rs. {{ Menu.price }}</h6>
                                  <div class="button-container">
                                      {% if Menu.stock.stock_quantity > 0 %}
                                          <a href="{% url 'add_to_cart' Menu.id %}">
                                              <i class="fa fa-cart-plus" aria-hidden="true" style="color: black;"></i>
                                          </a>
                                      {% endif %}
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          {% endif %}
      {% endfor %}
      
    </div>
      </div>
      <div class="container">
        {% block content %}{% endblock %}
    </div>
      {% comment %} <div class="btn-box">
        <a href="{% url 'menumore' %}">
          View More
        </a>
      </div> {% endcomment %}
    </div>
  </section>

  <!-- end food section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Contact Us
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Kanjirapally
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +91 8113023079
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  dineease@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              DineEase
            </a>
            <p>
              Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 english words, combined with
            </p>
            <div class="footer_social">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Opening Hours
          </h4>
          <p>
            Everyday
          </p>
          <p>
            8.00 Am -11.00 Pm
          </p>
        </div>
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="https://html.design/">DineEase</a><br><br>
          &copy; <span id="displayYear"></span> Distributed By
          <a href="https://themewagon.com/" target="_blank">DineEase</a>
        </p>
      </div>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.js"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->


</body>

</html>